# Loại trừ thư mục môi trường ảo
.venv/

# Loại trừ thư mục cấu hình của PyCharm/IntelliJ
.idea/

# Loại trừ thư mục biên dịch Python
__pycache__/

# Loại trừ file Excel test (nếu không cần thiết trong repo)
test.xlsx

# Loại trừ các file swap, tạm thời khác (nếu có)
*.swp
*.tmp
